
  @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');
  body {
    font-family: 'Roboto', sans-serif;
    background-color: #1d1d1d; 
    font-weight: normal;
    font-size: 16px;
    color: white;
  }

  a {
    text-decoration: none;
  }


  /* index CSS */

  a {
    color: rgb(196, 196, 196);
    text-decoration: none;
  }

  .info {
    display: flex;
    margin-top: 30px;
  }
  
  #old {
    font-size: 13px;
    margin-bottom: 20px;
  }

  .info a:hover {
    text-decoration: underline;
  }

  .info a:visited {
    color: rgb(155, 155, 155);
  }

  @media only screen and (max-width: 700px) {
    .info {
      display: block;
      text-align: center;
    }
  }

  .dp {
    text-align: center;
    display: block;
    margin: 0, auto;
    font-size: 20px;
    background-color: rgb(108, 134, 219);
    border-radius: 5px;
    border: transparent;
    margin: 0 auto;
    height: 50px;
    width: 200px;
    cursor: pointer;
    font-weight: bold;
    color: white; 
    font-size: 17px; 
    box-shadow: 0px 3px 5px rgb(82, 102, 167);
  }

.dp:hover {   
  opacity: 0.9;
  animation-name: bloom;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  /* animation: bloom 100ms ease forwards; */
}

@keyframes bloom {
  100%{
  filter: drop-shadow(3px 3px 30px #1770e5);
  /* box-shadow: 0px 0px 30px #1770e5; */
  }
}

.container {
  max-width: 750px;
  margin: auto;
}

.img1 {
  width: 400px;
  border-radius: 30px;
  margin-bottom: 50px;
  box-shadow: 0px 3px 10px rgb(110, 110, 110);
}

.info p {
  color: #c9c8c8;
  margin: 0;
}

.info h1 {
  margin-bottom: 10px;
}

.info h4 {
  margin-top: 20px;
  margin-bottom: 5px;
}

.info-text {
  margin-left: 20px;
  margin-bottom: 10px;
}

.info-text p {
  margin-bottom: 10px;
}

.space {
  margin-bottom: 1100px;
}

.wrapper {
  position: relative;
  bottom: -1000px;
  right: -270px;
  filter: drop-shadow(0px 0px 100px rgb(173, 48, 173));
}

.heart {
  width: 200px;
  height: 200px;
  background-color: rgb(160, 43, 160);
  transform: rotate(45deg);
  position: relative;
}

.heart::before,
.heart::after {
  content: '';
  display: block;
  width: 200px;
  height: 200px;
  background-color: rgb(160, 43, 160);
  border-radius: 50%;
  position: absolute;
}

.heart::before {
  top: -100px;
  left: 0;
}

.heart::after {
  top: 0px;
  left: -100px;
}






/* index2 CSS */

.pedo {
  text-align: center;
  margin-top: 380px;
  font-family: inherit;
  font-size: 100px;
  cursor: pointer;
  margin-bottom: 20px;
}

.pedo:hover {
  opacity: 0.7;
  text-decoration: underline;
}

.text2 {
  text-align: center;
  display: block;
  color: #747474;
  text-transform: capitalize;

}


